.panel-heading {
    background: linear-gradient(to right, #00df89, #00df89);
}

#painel_req {
    color: #f4f4f4;
}

#painel_estag {
    color: #f4f4f4
}

#addRateio {
    border: 2px solid #00df89;
    background-color: #fff;
    color: #00df89;
    transition: transform 0.3s ease;
}

#addRateio:hover {
    border: 2px solid #0fbd7a;
    background-color: #0fbd7a;
    color: #fff;
    transform: scale(1.1);
}

#addItem {
    border: 2px solid #00df89;
    background-color: #fff;
    color: #00df89;
    transition: transform 0.3s ease;
}

#addItem:hover {
    border: 2px solid #0fbd7a;
    background-color: #0fbd7a;
    color: #fff;
    transform: scale(1.1);
}

#painel_cabecalho {
    color: #f4f4f4;
}

#painel_empresa {
    color: #f4f4f4;
}

#painel_jovem {
    color: #f4f4f4;
}

#painel_detalhes {
    color: #f4f4f4;
}

#painel_avaliacao {
    color: #f4f4f4;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}